<div>changeDetectionStrategy: {{changeDetectionStrategyKey}}</div>

<div>@Input() value: {{inputValue}}</div>

<div>Counter Getter: {{getCounter}}</div>

<div>ngDoCheck Counter: {{ngDoCheckCounter}}</div>

<div>Impure Pipe Value: {{impurePipeValue | appImpurePipe}}</div>

<div>Pure Pipe Value: {{purePipeValue | appPurePipe}}</div>

<div>Async Pipe Value: {{asyncPipeValue$ | async}}</div>

<div>Global Async Pipe Value: {{globalService.globalObservable$ | async}}</div>

<div>
  <input type="text" [(ngModel)]="inputNgModel" placeholder="Input">
</div>

<div>
  <button type="button" (click)="emitEvent()">Emit event</button>
</div>

<div>
  <button type="button" (click)="increaseChildInput()">Increase child @Input()</button>
</div>

<div>
  <button type="button" (click)="increaseCounter()">Increase counter</button>
</div>

<div>
  <button type="button" (click)="increaseImPurePipeInputValue()">Increase impure pipe value</button>
</div>

<div>
  <button type="button" (click)="increasePurePipeInputValue()">Increase pure pipe input</button>
</div>

<div>
  <button type="button" (click)="increaseAsyncPipeValue()">Increase async pipe value</button>
</div>

<div>
  <button type="button" (click)="increaseGlobalObservableValue()">Increase global observable value</button>
</div>

<div>
  <button type="button" (click)="triggerTimeout()">Trigger timeout(1s)</button>
</div>

<div>
  <button type="button" (click)="applicationRefTick()">AppRef.Tick()</button>
</div>

<div>
  <button type="button" (click)="markForCheck()">cdr.markForCheck()</button>
</div>

<div>
  <button type="button" (click)="detectChanges()">cdr.detectChanges()</button>
</div>
