<div>changeDetectionStrategy: {{changeDetectionStrategyKey}}</div>

<div>@Input() value: {{inputValue}}</div>

<div>Counter Getter: {{getCounter}}</div>

<div>ngDoCheck Counter: {{ngDoCheckCounter}}</div>

<div>Impure Pipe Value: {{impurePipeValue | appImpurePipe}}</div>

<div>Pure Pipe Value: {{purePipeValue | appPurePipe}}</div>

<div>Async Pipe Value: {{asyncPipeValue$ | async}}</div>

<div>
  <input type="text" [(ngModel)]="inputNgModel" placeholder="Input">
</div>

<div>
  <button class="emitEvent" type="button">Emit event</button>
</div>

<div>
  <button type="button" (click)="increaseChildInput()">Increase child @Input()</button>
</div>

<div>
  <button type="button" (click)="increaseCounter()">Increase counter</button>
</div>

<div>
  <button type="button" (click)="increaseImPurePipeInputValue()">Increase impure pipe value</button>
</div>

<div>
  <button type="button" (click)="increasePurePipeInputValue()">Increase pure pipe input</button>
</div>

<div>
  <button type="button" (click)="increaseAsyncPipeValueWithDelay()">Increase async pipe value with delay(2000ms)</button>
</div>

<div>
  <button type="button" (click)="triggerTimeout()">Trigger timeout(2000ms)</button>
</div>

<div>
  <button type="button" (click)="applicationRefTickWithDelay()">AppRef.Tick() with delay(2000ms)</button>
</div>

<div>
  <button type="button" (click)="markForCheckWithDelay()">cdr.markForCheck() with delay(2000ms)</button>
</div>

<div>
  <button type="button" (click)="detectChangesWithDelay()">cdr.detectChanges() with delay(2000ms)</button>
</div>


<app-child-1-default
  class="child"
  [inputValue]="childInputValue"
  (event)="onEvent()">
</app-child-1-default>

<app-child-2-onpush
  class="child"
  [inputValue]="childInputValue"
  (event)="onEvent()">
</app-child-2-onpush>
